@font-face {
  font-family: GoudyText;
  src: url(/assets/fonts/GoudyTextMT.woff) format('woff'), url(/assets/fonts/GoudyTextMT.ttf) format('truetype');
}

@font-face {
  font-family: GoudyTextStd;
  src: url(/assets/fonts/GoudyTextMTStd.woff) format('woff'), url(/assets/fonts/GoudyTextMTStd.ttf) format('truetype');
}
